<mat-checkbox [(ngModel)]="fullName">Full name search</mat-checkbox>
<app-full-name-search *ngIf="fullName"></app-full-name-search>
<br>
<mat-checkbox [(ngModel)]="degree">Degree search</mat-checkbox>
<app-degree-search *ngIf="degree"></app-degree-search>
<br>
<mat-checkbox [(ngModel)]="cvContent">Cv content search</mat-checkbox>
<app-cv-content-search *ngIf="cvContent"></app-cv-content-search>
<br>
<mat-checkbox [(ngModel)]="phrase">Phrase search</mat-checkbox>
<app-phrase-search *ngIf="phrase"></app-phrase-search>
<br>
<mat-checkbox [(ngModel)]="simpleBoolean">Boolean simple search</mat-checkbox>
<app-boolean-simple-search *ngIf="simpleBoolean"></app-boolean-simple-search>
